*{
    margin: 0;
    padding: 0;
}
body{
    background-color: honeydew;
}
.cart_container{
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}
.item{
    width: 80%;
    display: grid;
    gap: 15px;
   grid-template-columns: 1fr;
   margin: auto;
   border: 2px solid rgb(197, 196, 196);
   border-radius: 4px;
   background-color: white;   
}
.item_img{
    text-align: center;
}
.item_title,.item_des{
    color:rgb(105, 105, 105) ;
    text-align: center;
    font-size: 20px;
    padding:3px 10px ;
}
.item_des{
    font-size: 13px;
    margin-bottom: 20px;
}
.rate_item{
    background-color: rgb(145, 57, 25);
    padding: 2px 4px;
    border-radius: 15px;
    margin-right: 8px;
    color: white;
}
.item_cnt{
    color:  rgb(114, 36, 8);;
}
.item_price{
    text-align: center;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(56, 55, 55);
}
.plus,.minus{
    font-size: 20px;
    padding: 0 4px;background-color: dimgrey;
    color: white;
    cursor: pointer;
}
.quantity_ses{
    border: 2px solid rgb(207, 204, 204);
    padding: 3px 10px;
    border-radius: 5px;
}
.remove{
    /* width: 100%; */
    margin-left:40%;
    margin-bottom: 10px;
    background-color: goldenrod;
    padding: 3px 6px;
    border-radius: 4px;
    border: none;
    color: rgb(68, 68, 68);
    cursor: pointer;
}

.price_details{
    border: 2px solid rgb(201, 200, 200);
    width: 80%;
    margin: auto;
    margin-top:18px ;
    padding: 3px 10px;
    background-color: white;
}
.price_details h3{
    margin: 10px 0px;
}
.price_details p{
    margin: 40px 0;
}
.price_details p,.price_details h3{
    display: flex;
    justify-content: space-between;
}
.quantity{
    padding: 4px 15px;
    border: 1px solid rgb(204, 203, 203);
    border-radius: 40px;
    font-size: 18px;
    margin: 0 5px;
}
.ds{
 text-align: center;
 color: gray;
 margin: 10px 0;
}
.items,.discount{
       
    color: rgb(90, 89, 89);
}
.price_details h3{
    color: rgb(44, 44, 44);
}
.total_span{
    font-size: 22px;
}
.total_Amount{
    font-size: 28px;
    margin: auto 0;
}
@media (min-width:700px){
    .cart_Page{
        display: grid;
        grid-template-columns: 2.2fr 1fr;
    }
    .item_title{
        font-size: 22px;
    }
    .item_price{
        font-size: 30px;
    }

}
@media (min-width:1000px){
    .item_title{
        font-size: 28px;
    }
    .item_des,.des{
        font-size: 16px;
    }
    .item_price{
        font-size: 35px;
    }
    .remove{
        font-size: 19px;
        padding: 10px 20px;
    }
    .quantity_ses{
        padding: 8px 12px;
    }
    .plus,.minus{
        font-size: 30px;
        padding: 5px 12px;
        border-radius: 100px;
        margin: 0 8px ;
    }
    .quantity{
        font-size: 22px;
        padding: 9px 20px;
    }
    
    .items,.discount{
        font-size: 18px;
        color: rgb(90, 89, 89);
    }
    .price_details h3{
        font-size: 20px;
        margin-bottom: 25px;
    }
    .rate_item{
        font-size: 20px;
    }
    .items,.discount ,.dis_span,.pri_span{
        font-size: 24px;
        margin-top: 50px;
        
    }
    .total_span{
        margin-top: 15px;
    }
}
@media (min-width:1400px) {
    .item_title{
        font-size:34px ;
    }
    .item_des,.ds{
        font-size: 18px;
    }
    .item_price{
        font-size:43px ;
    }
    .remove{
        padding: 15px 29px;
        font-size: 22px;
    }
    .quantity_ses{
        padding: 18px 25px;
    }
    .plus,.minus{
        font-size: 40px;
        padding: 5px 12px;
        border-radius: 100px;
        margin: 0 9px;
    }
    .quantity{
        font-size: 28px;
        padding: 12px 40px;
    }
    .price_details h3{
        font-size: 25px;
    }
    .items,.discount{
        font-size: 22px;
    }
    .rate_item{
        font-size: 25px;
    }
}